{% extends 'base.html' %}

{% block content %}

<h2 class="mb-4">Dashboard</h2>

<div class="row mb-4">

    <div class="col-md-4">
        <div class="card bg-primary text-white p-3">
            <h3>{{ total_tasks }}</h3>
            <p>Total Tasks</p>
        </div>
    </div>

    <div class="col-md-4">
        <div class="card bg-success text-white p-3">
            <h3>{{ completed_tasks }}</h3>
            <p>Completed</p>
        </div>
    </div>

    <div class="col-md-4">
        <div class="card bg-warning text-dark p-3">
            <h3>{{ pending_tasks }}</h3>
            <p>Pending</p>
        </div>
    </div>

</div>

<!-- ADD TASK -->
<div class="card p-4 mb-4">

<h4>Add Task</h4>

<form method="POST" action="/add-task">

<input type="text" name="title" class="form-control mb-2" placeholder="Title" required>

<textarea name="description" class="form-control mb-2" placeholder="Description"></textarea>

<select name="priority" class="form-control mb-2">
    <option>High</option>
    <option>Medium</option>
    <option>Low</option>
</select>

<input type="date" name="due_date" class="form-control mb-2">

<button class="btn btn-dark">Add Task</button>

</form>

</div>

<!-- TASK LIST -->
{% for task in tasks %}
<div class="card p-3 mb-2">

    <h5>{{ task.title }}</h5>
    <p>{{ task.description }}</p>
    <p><b>Priority:</b> {{ task.priority }}</p>
    <p><b>Status:</b> {{ task.status }}</p>

    {% if task.status != "Completed" %}
    <a href="/complete/{{ task.id }}" class="btn btn-success btn-sm">Complete</a>
    {% endif %}

    <a href="/edit/{{ task.id }}" class="btn btn-primary btn-sm">Edit</a>
    <a href="/delete/{{ task.id }}" class="btn btn-danger btn-sm">Delete</a>

</div>
{% endfor %}

{% endblock %}