{% extends 'base.html' %}

{% block content %}

<div class="row justify-content-center">

<div class="col-md-6">

<div class="card p-4">

<h3 class="mb-3 text-center">Edit Task</h3>

<form method="POST">

<!-- TITLE -->
<input type="text"
       name="title"
       class="form-control mb-3"
       value="{{ task.title }}"
       required>

<!-- DESCRIPTION -->
<textarea name="description"
          class="form-control mb-3"
          rows="4"
          placeholder="Description">{{ task.description }}</textarea>

<!-- PRIORITY -->
<select name="priority" class="form-control mb-3">

    <option value="High" {% if task.priority == "High" %}selected{% endif %}>
        High
    </option>

    <option value="Medium" {% if task.priority == "Medium" %}selected{% endif %}>
        Medium
    </option>

    <option value="Low" {% if task.priority == "Low" %}selected{% endif %}>
        Low
    </option>

</select>

<!-- BUTTON -->
<button class="btn btn-primary w-100">
    Update Task
</button>

</form>

</div>

</div>

</div>

{% endblock %}